body {
  font-family: "Noto Sans JP", sans-serif;
  color: #433930;
}
.fo-en {
  font-family: "Satisfy", cursive;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}
a {
  color: #323232;
}
.font-sm {
  font-size: 14px;
}
.font-md {
  font-size: 24px;
}
.font-lr {
  font-size: 28px;
}
.font-lg {
  font-size: 36px;
}

.pt-md {
  padding-top: 50px;
}
.pt-lr {
  padding-top: 100px;
}
.pt-lg {
  padding-top: 150px;
}

.mt-md {
  margin-top: 30px !important;
}
.mb-lr {
  margin-bottom: 60px !important;
}

.content-width {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}
.content-width-sec {
  width: 90%;
  margin: 0 auto;
  max-width: 1000px;
}

// 共通ページタイトル
.page-top-ttl {
  color: #5d3e3e;
  margin-top: 10px;
  margin-bottom: 10px;
}
.page-ttl-en {
  font-size: 28px;
  @extend .fo-en;
  color: #e2d7c0;
}

// 共通タイトル
.section-ttl-bg {
  text-align: center;
}
.section-ttl-img {
  position: relative;
}
.section-ttl-top {
  font-size: 24px;
  @extend .fo-en;
  color: #fff;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.section-ttl {
  color: #5d3e3e;
  font-size: 18px;
  font-weight: bold;
}

#global-container {
  overflow: hidden;
}

.current {
  position: absolute;
  bottom: -14px;
  left: 50%;
  width: 10px;
  height: 10px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(135deg);
}

/*-------------------------------------------
ヘッダー
-------------------------------------------*/

/*
ハンバーガ―メニュー
*/
.hamburger {
  display: none;
}

.header {
  width: 100%;
  height: 80px;
  background-color: rgba(35, 24, 21, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 100;

  &.triggered {
    background-color: rgba(35, 24, 21, 0.9);
  }

  &__inner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
  }

  &__logo {
    & > a {
      &:hover {
        opacity: 0.7;
      }
    }
  }
  &__ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  &__li {
    list-style: none;
    margin-left: 60px;
    position: relative;

    &:first-child {
      margin-left: 0;
    }

    & > a {
      color: #fff;
    }

    & > a:hover {
      text-decoration: none;
      opacity: 0.7;
    }
  }
}

.center {
  position: relative;
  padding-bottom: 150px;

  &__bg {
    &-left {
      position: absolute;
      top: -25%;
      left: -13%;
    }
    &-right {
      position: absolute;
      top: -15%;
      right: -13%;
    }
  }
  &__inner {
    text-align: center;
  }

  &__ttl {
    &-en {
      color: #e2d7c0;
      font-size: 28px;
      margin-top: 5px;
    }
  }

  &__txt {
    margin-top: 80px;
    & > P {
      line-height: 2.1;
      position: relative;
    }
  }
}

.top-news {
  background-color: #f1ece1;
  padding: 90px 0;

  &__inner {
    @extend .content-width;
    text-align: center;
  }

  &__panel {
    width: 17%;

    &:hover {
      text-decoration: none;
      opacity: 0.7;
      color: inherit;
    }

    &-wrap {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 60px;
    }

    &-date {
      font-size: 12px;
      font-weight: bold;
      margin: 5px 0;
      text-align: left;
      margin-left: 5px;
    }
    &-txt {
      font-size: 13px;
    }
  }
}

.bottom {
  &__img {
    background-image: url(../images/top/bottom_bg_img.jpg);
    background-position: 0 80%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

    &::after {
      content: "";
      display: block;
      padding-top: 37%;
    }
  }
}

// aboutページ
.top {
  &__content {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    &::after {
      content: "";
      display: block;
      padding-top: 35%;
    }

    &-img {
      position: absolute;
      bottom: 0;

      & > img {
        width: 100vw;
      }
    }

    &-ttl {
      text-align: center;
      position: absolute;
      bottom: -5%;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }
}

.bread {
  margin-left: 10%;
  &__ul {
    padding: 0;
    margin: 10px 0 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &__li {
    list-style: none;
    margin-right: 15px;
    font-size: 12px;

    &:nth-child(3) {
      margin-left: 15px;
    }

    & > a {
      font-size: 12px;
      color: #57524d;

      &:hover {
        color: #323232;
        text-decoration: none;
        opacity: 0.7;
      }
    }

    & + span {
      font-size: 13px;
      color: #57524d;
    }
  }
}
.ab {
  &__main {
    &-top {
      margin-top: 120px;
    }

    &-txt {
      text-align: center;
      margin: 30px 0;
      & > p {
        @extend .font-sm;
        margin-bottom: 50px;
      }
    }

    // 商品箇所
    &-panel {
      display: flex;
      flex-direction: row;
      justify-content: center;

      &-wrap {
        @extend .content-width;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 60px;
      }

      &-img {
        // width: 50%;
        margin-right: 20px;
      }

      &-des {
        width: 47%;
      }

      &-left {
        width: 55%;
      }
      &-right {
        width: 50%;
      }

      &-ttl {
        font-size: 18px;
        color: #5d3e3e;
      }
      &-txt {
        @extend .font-sm;
        margin: 20px 0;
        color: #433930;
        line-height: 2;

        &-money {
          font-size: 13px;
          color: #5d3e3e;
        }
      }
    }
  }

  &__bottom {
    &-img {
      background-image: url(../images/about/tea_bg.png);
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;

      &::after {
        content: "";
        display: block;
        padding-top: 20%;
      }

      &-chai {
        background-image: url(../images/about/chai_bg.png);
        background-position: 0 80%;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;

        &::after {
          content: "";
          display: block;
          padding-top: 18%;
        }
      }

      &-syrop {
        background-image: url(../images/about/chirop_bg.png);
        background-position: 0 80%;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;

        &::after {
          content: "";
          display: block;
          padding-top: 18%;
        }
      }
    }
  }
}

// ニュースページ
.news {
  &__content {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 90px;

    & a {
      display: block;
      margin: 20px;

      &:hover {
        color: #433930;
        text-decoration: none;
        opacity: 0.7;
      }
    }

    &-txt {
      margin: 60px 0;
      & > p {
        margin: 0;
        font-size: 13px;
        line-height: 2.6;
      }
    }
  }
  &__date {
    margin: 0 20px;
    position: relative;
    color: #5d3e3e;

    &::before {
      content: "";
      position: absolute;
      top: 5px;
      left: -30px;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: #a06524;
    }

    &-ttl {
      color: #5d3e3e;
      margin: 0 20px 0 0;
      font-size: 14px;
    }
  }

  &__ttl {
    font-size: 14px;
  }

  &__btn {
    text-align: center;
    margin-bottom: 60px;
    margin-top: 60px;
  }
}

.pager {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 80px 0 160px 0;
  &__left {
    display: block;
    width: 12px;
    height: 12px;
    border-top: solid 2px #5d3e3e;
    border-right: solid 2px #5d3e3e;
    transform: rotate(225deg);
    margin-right: 30px;
  }
  &__right {
    display: block;
    width: 12px;
    height: 12px;
    border-top: solid 2px #5d3e3e;
    border-right: solid 2px #5d3e3e;
    transform: rotate(45deg);
    margin-left: 30px;
  }
  &__num {
    margin: 0 15px;
  }

  &__current {
    display: inline-block;
    width: 20px;
    text-align: center;
    color: #a06524;
    border-bottom: 1px solid #a06524;
  }
}

.content {
  &__txt {
    text-align: center;
    margin-top: 50px;
    line-height: 1.8;
    margin-bottom: 50px;
  }
}

.coming {
  font-size: 30px;
  color: #5d3e3e;
  margin-bottom: 10px;

  &__inner {
    @extend .content-width;
  }

  &__wrap {
    text-align: center;
    margin: 50px;
  }
  &__ja {
    font-size: 16px;
    color: #5d3e3e;
  }

  &__txt {
    margin-top: 50px;
    line-height: 2;
  }

  &__bnr {
    margin-top: 90px;
    margin-bottom: 170px;
    display: block;

    &:hover {
      opacity: 0.7;
    }
  }
}

.acc {
  &__content {
    @extend .content-width-sec;
  }
  &__inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 60px 0;
  }
  &__txt {
    margin: 0 auto;
    // width: 44%;
    // margin-right: 10px;
    & > p {
      line-height: 1.8;
    }
  }
  &__img {
    // width: 44%;
  }

  &__des {
    @extend .content-width-sec;

    &-car {
      display: flex;
      flex-direction: row;
      align-items: center;

      & > p {
        width: 15%;
        margin-bottom: 0;
      }
    }
    &-hr {
      background-color: #433930;
      width: 90%;
    }
  }

  &__map {
    @extend .content-width-sec;

    & > iframe {
      margin-bottom: 150px;
    }
  }
}

table {
  width: 100%;
}
tr {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin: 20px 0;
}
td {
  font-size: 14px;
  line-height: 1.6;
}
td:first-child {
  width: 33%;
  position: relative;
  padding-left: 10px;

  &::before {
    content: "";
    position: absolute;
    top: 11px;
    left: 0;
    display: block;
    border-radius: 50%;
    background-color: #a06524;
    width: 6px;
    height: 6px;
  }
}
td:last-child {
  width: 80%;
}

.contact {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;

  &__flex {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &__images {
    & img {
      margin-right: 10px;
    }
  }
  &__hr {
    background-color: #8a7e78;
    width: 70%;
    height: 0.5px;

    &-sec {
      width: 60%;
    }
  }

  &__des {
    padding: 20px 0 40px 0;

    & p {
      font-size: 14px;
    }

    &-span {
      display: inline-block;
      width: 40px;
      height: 20px;
      text-align: center;
      background-color: red;
      color: #fff;
      margin-right: 2px;
    }
  }
}

.tel {
  &__wrap {
    & a {
      color: #a06524;
      padding: 17px 0 40px 0;
      display: inline-block;

      &:hover {
        color: #a06524;
      }
    }
  }

  &__mn {
    font-size: 20px;
  }
  &__bg {
    font-size: 34px;
  }
}

.circle {
  display: inline-block;
  width: 27%;
  padding: 10px 0;
  border: 1px solid #a06524;
  border-radius: 20px;
  text-align: center;
  color: #a06524;
  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.gt {
  display: flex;
}
.current3 {
  background-color: #a06524;
  color: #fff;
}

.red {
  display: inline-block;
  width: 40px;
  height: 25px;
  text-align: center;
  background-color: red;
  color: #fff;
  margin-right: 2px;
  margin-left: 10px;
}

.form {
  width: 90%;
  max-width: 800px;
  margin: 30px auto 0;
}

input[type="text"] {
  width: 100%;
  border: 1px solid #57524d;
  padding: 8px 10px;
  font-size: 12px;
  max-width: 800px;
}
.mw-form input[type="text"] {
  width: 25%;
  margin-left: 10px;
  border: 1px solid #57524d;
}
.zip__span {
  font-size: 13px;
}
.agree {
  margin-top: 40px;
}
.agree-1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
input[type="checkbox"] {
  width: 25px;
  height: 25px;
  margin-right: 15px;
}
.line {
  color: #9bb2cc;
  border-bottom: 1px solid #9bb2cc;
}

input[type="submit"] {
  color: #fff;
  width: 250px;
  background: #5d3e3e url(../images/contact/yajirushi_wh.png) 94% center no-repeat;
  height: 40px;
  line-height: 0px;
  border: 1px solid #5d3e3e;
  border-radius: 20px;
  margin: 50px auto;
  padding: 0;

  &::after {
  }
}
textarea {
  width: 100%;
}
.thanks {
  width: 90%;
  margin: 60px auto;
  max-width: 800px;
  line-height: 2;
  letter-spacing: 0.1rem;
  text-align: center;

  &__images {
    width: 300px;
    height: 120px;
    margin: 60px auto 90px;

    & img {
      width: 100%;
      height: 100%;
    }
  }
}

.privacy-a {
  color: #a06524;
  border-bottom: 1px solid #a06524;
}

.confirm {
  text-align: center;
  margin-bottom: 100px;
}

.houses {
  @extend .content-width;

  &__inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__item {
    width: 47%;
  }
}

.footer {
  background-color: #5d3e3e;
  box-sizing: border-box;
  height: 230px;
  width: 100%;
  padding: 30px 0;
  color: #fff;
  position: relative;

  &__inner {
    @extend .content-width;
  }

  &__ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    padding: 0;
  }

  &__li {
    list-style: none;
    margin-right: 3%;
    & > a {
      color: #fff;
      font-size: 12px;
      position: relative;

      &:hover {
        opacity: 0.7;
        text-decoration: none;
      }

      &::before {
        position: absolute;
        top: 7px;
        left: -10px;
        content: "";
        display: block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #fff;
      }
    }

    &-a {
      &-wrap {
      }
      &-sec {
        display: block;
        padding: 5px 0;
        font-size: 12px;
        color: #fff;
        position: relative;

        &:first-child {
          position: relative;
          top: 3px;
        }

        &:hover {
          color: #fff;
          text-decoration: none;
          opacity: 0.7;
        }

        &::before {
          position: absolute;
          top: 14px;
          left: -10px;
          content: "";
          display: block;
          width: 6px;
          height: 1px;
          background-color: #fff;
        }
      }
    }
  }

  &__bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 50px;

    &-logo {
      margin-right: 40px;
      &:last-child {
        margin-right: 0;
      }
    }

    &-left {
    }
    &-right {
      font-size: 10px;
    }
  }
}
