.btn {
  text-align: center;
  color: $cWhite;
  position: relative;
  display: inline-block;
  background-color: #5d3e3e;
  border-radius: 25px;
  padding: 10px 40px;
  margin: 60px auto;
  cursor: pointer;
  transition: all 0.3s;
  text-decoration: none !important;
  width: 300px;
  height: 50px;
  box-sizing: border-box;

  &:hover {
    color: #fff;
    opacity: 0.7;
  }

  &::after {
    content: "";
    background-image: url(../../images/yajirushi.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(-10%, -50%);
    width: 7px;
    height: 12px;
  }

  &-ec {
    text-align: center;
    color: $cWhite;
    position: relative;
    display: inline-block;
    background-color: #5d3e3e;
    border-radius: 25px;
    padding: 10px 40px;
    margin: 60px auto;
    cursor: pointer;
    transition: all 0.3s;
    text-decoration: none !important;
    width: 300px;
    height: 50px;
    box-sizing: border-box;
    &:hover {
      color: #fff;
      opacity: 0.7;
    }

    &::after {
      content: "";
      background-image: url(../../images/about/cart.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      top: 50%;
      right: 10%;
      transform: translate(-10%, -50%);
      width: 25px;
      height: 23px;
    }
  }

  &-wrap {
    text-align: center;
  }
}

// フッターボタン
.button {
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
  z-index: 30;

  /*デフォルトで非表示にする*/
  opacity: 0;
  visibility: hidden;
}

/*このクラスが付与されると表示する*/
.active {
  opacity: 1;
  visibility: visible;
}

/*このクラスが付与されると表示する*/
.absolute {
  position: absolute;
  top: -80px;
  bottom: auto;
}
